<h2>broken:</h2>
<button type="button" onclick={{action 'jumpMessage'}}>transitionTo (message only)</button>
<button type="button" onclick={{action 'jumpPage'}}>transitionTo (page only)</button>
<button type="button" onclick={{action 'jumpNone'}}>transitionTo (no queryParams)</button>

<h2>works:</h2>
<button type="button" onclick={{action 'jumpAll'}}>transitionTo (both message and page)</button>